{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend class="text-light">Sign Up Here!</legend>
            <label class="form-label text-light">Username: </label>
            <input type="text" name="username" placeholder="enter username" class="form-control" required>
            <label class="form-label text-light pt-3">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </fieldset>
        <div class="pt-3">
            <input type="submit" value="Create Account" class="btn btn-outline-warning">
        </div>
    </form>
</div>

{% endblock %}