{% layout "layout.liquid" %}
{% block content %}
<div class="main">
    <h1 class="welcome">Welcome to the Movie Factory!</h1>
    <img class="homeimage" src="/images/home page image.png">
</div>

{% endblock %}