body {
    background-color: rgb(11, 11, 11);
}

.main {
    text-align: center
}

.welcome {
    color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.homeimage {
    margin-top: 50px;
    max-width: 1200px;
    max-height: 9000px;
    border: 5px solid rgb(208, 172, 15);
}

